{{>header}}
<small>Welcome {{username}},</small>
<div>
	No plans, ask a friend <i>are you out?</i>
	<form method="POST" action="/message/areyouout">
		<input type="text" name="to">
		<input type="submit" value="Send">
	</form>
</div>

<div>
	<h3>Messages</h3>
	To me:
	<ul>
		{{#messages.to}}
		<li>From {{from}}: {{body}}</li>
		{{/messages.to}}
	</ul>
	From me:
	<ul>
		{{#messages.from}}
		<li>To {{to}}: {{body}}</li>
		{{/messages.from}}
	</ul>
</div>
{{>footer}}
