<h3>Who's out, {{username}}?</h3>
{{#if tonightsPlan}}
	<h3>Tonight's plans</h3>
{{else}}
	<div>
		Looks like you have no plans for tonight. Make some:
		<form method="POST" action="/message/areyouout">
			Ask if <input type="text" name="to"> is out? <input type="submit" value="Send">
		</form>
	</div>
{{/if}}
<hr>
{{#each messages}}
	<ul>
		<li>{{this.to}} hasn't responded to your '{{this.body}}' yet.</li>
	</ul>
{{/each}}

